@import url('https://fonts.googleapis.com/css?family=Athiti|Kanit');
page-login {
    ion-content {
        background: url(https://images.unsplash.com/photo-1484251065541-c9770829890f?auto=format&fit=crop&w=634&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
        background-size: cover;
        background-repeat: no-repeat;
        .font {
            font-family: 'Kanit', sans-serif; // font-family: 'Athiti', sans-serif;
            margin-top: 25px;
        }
        .button-outline-ios{
            border-width: 5px;
        }
        .button-outline-md{
            border-width: 4px;
        }
    } 
}