<ion-header>
  <ion-navbar>
    <ion-title>
      รายการสินค้า
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div padding>
    <ion-segment [(ngModel)]="coffee">
      <ion-segment-button (click)="getProductByCategory('hot')" value="hot">
        ร้อน
      </ion-segment-button>
      <ion-segment-button (click)="getProductByCategory('ice')" value="cool">
        เย็น
      </ion-segment-button>
      <ion-segment-button (click)="getProductByCategory('frappe')" value="frappe">
        ปั่น
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="coffee">
    <div *ngSwitchCase="'hot'">
      <ion-list>
        <ion-item *ngFor="let item of productList">
          <ion-thumbnail item-start>
            <img src="img/thumbnail-totoro.png">
          </ion-thumbnail>
          <h2>{{item.name}}</h2>
          <p>ราคา 1988</p>
          <button *ngFor="let s of item.size" ion-button outline (click)="addProduct(item,s)" class="btn-size">{{s.name}}</button>
        </ion-item>
      </ion-list>
    </div>
  </div>
  <button ion-button block (click)="goToCart()">Cart</button>
  <button ion-button block (click)="goToConfirm()">Confirm</button>
</ion-content>
